
body{
  width:500px; 
  display:inline-block;
  }

@import url(http://fonts.googleapis.com/css?family=Nunito:300);

body { font-family: "Nunito", sans-serif; font-size: 15px; background: rgb(252, 250, 250); color: rgb(252, 249, 249); }
a    { text-decoration: none; }
p    { text-align: center; color:#000000; font-weight: bold; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }


.button
{
 text-transform: uppercase;
 letter-spacing: 2px;
 text-align: center;
 color: #0C5;

 font-size: 20px;
 font-family: "Nunito", sans-serif;
 font-weight: 300;
 
 
 
 position: relative;
   top: -40px;
   right: 100px;
   bottom: 140px;
   left: 120px;
 
 padding: 10px 0;
 width: 50%;
 height:5%;

 background: #0D6;
 border: 1px solid #0D6;
 color: #FFF;
 overflow: hidden;
 
 transition: all 0.5s;
}

.button:hover, .button:active 
{
 text-decoration: none;
 color: #0C5;
 border-color: #0C5;
 background: #FFF;
}

.button span 
{
 display: inline-block;
 position: relative;
 padding-right: 0;
 
 transition: padding-right 0.5s;
}

.button span:after 
{
 content: ' ';  
 position: absolute;
 top: 0;
 right: -18px;
 opacity: 0;
 width: 10px;
 height: 10px;
 margin-top: -10px;

 background: rgba(0, 0, 0, 0);
 border: 3px solid #FFF;
 border-top: none;
 border-right: none;

 transition: opacity 0.5s, top 0.5s, right 0.5s;
 transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
 padding-right: 10px;
}


#p1
{
 font-size:16px;
 color: #000;
 align-content:center;
 text-align:center;
}

#div1
{
 line-height: 1px; /* the same as your div height*/
 text-align:center;
 font-size:20px;
 color: #000;
 padding-bottom:20px;
 
}

#c1 {
   text-align: center;
   color: #050505;
}

#c2 {
   text-align: center;
   font-family: 'Brush Script MT', cursive;
   color: #1a1818;
}

#c3 {
   text-align: center;
   color: #080808;
}